<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{users.name}}'s Profile</title>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <nav>
        <a href="/">Home</a>
        <a href="/auth/login">Login</a>
        <a href="/auth/signup">Signup</a>
        <a href="/user/profile">My Profile</a>
        <a href="/user/update">Update Profile</a>
        <div class="animation start-home"></div>
    </nav>




    <div class="wrapper">
        <div class="prof-detail">
            {{#users}}
            <div class="prof-ctr">
                <div>
                    {{#avatar}}
                    <img class="avatar-prof-img " src="{{avatar}} ">{{/avatar}} {{^avatar}} <img class="avatar prof-img"
                        src="/img/rosie.png">{{/avatar}}
                </div>
                <div class="text-content">
                    <p class="prof-name">{{name}}</p>

                    {{#address.city}}
                    <p>{{address.city}}, {{address.country}} | {{#job}} {{job}}, {{company}}
                    </p>{{/job}} {{^job}}
                    <span style="color: #c87a74 ">Available for hire</span> {{/job}} {{/address.city}} {{^address.city}}
                    {{address.country}} | {{#job}} {{job}}, {{company}}</p>{{/job}} {{^job}}<span style="color: #c87a74 ">Available for hire</span>{{/job}}
                    {{/address.city}}
                    <p> {{email}} | {{phone}}</p>
                    {{#university}}
                    <p><strong>Education:</strong> {{university}}</p>
                    {{/university}}{{^university}} {{/university}}


                    <p><strong>Skills:</strong> {{#skills}}{{.}},&nbsp;{{/skills}}</p>
                </div>
                {{/users}}
            </div>
        </div>



</body>

</html>